body {
    background-color: #212121;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

.heading {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: none;
}